@{
    ViewBag.Title = "Home Page";
}

<script data-main="/Content/js/scraperFlow/main" src="@Url.Content("~/Scripts/require.min.js")" type="text/javascript"></script>

<div id="scraperFlow-app"></div>

<script type="text/javascript">
    var apiToken = '71bad2839b8d4fe987201eb548503ca6';
</script>

